.bg-white .hero,
.bg-white .entry-content,
.bg-white > {
  h1,
  h2,
  p {
    @apply text-black;
  }

  .lead {
    @extend .lead--black;
  }
}

// .page .contact {
//   --flow-space: #{rem-calc(100)};
// }

.contact-bg-image {
  background-image: url('../images/Layer_34.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-blend-mode: multiply;
}

.footer {
  .menu__item {
    font-weight: 400;
    font-size: rem-calc(18);
  }

  .menu__item a:hover,
  .menu__item a:focus,
  .menu__item--active {
    @apply bg-transparent;
  }
}

.gird-rows-2--short-top {
  grid-template-rows: minmax(0, 1fr) minmax(0, 2fr);
}

@media (min-width: 768px) {
  .footer {
    .menu__item {
      --flow-space: #{rem-calc(40)};
      font-weight: 400;
    }
  }
}
