html {
  scroll-behavior: smooth;
}

section {
  p {
    margin-bottom: 1em;
  }

  a {
    @apply underline;
  }
}

strong {
  font-weight: 600;
}

main {
  ol,
  ul:not(.services__list):not(.breadcrumb__list):not(.sidebar__list) {
    list-style: initial;
    padding-left: 2em;
  }
}
