.rotate {
  @apply transform;
  @apply -rotate-90;
  @apply self-center;
  @apply origin-bottom;

  &--center {
    transform-origin: center bottom;
  }
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.flow--small > * + * {
  --flow-space: 0.5em;
}

.full-bleed {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  > * {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.heading-5xl > h2 {
  @apply text-5xl;
}

.has-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;

  &--about {
    background-image: url('../images/about-bg.png');
  }

  &--services {
    background-image: url('../images/services-bg.png');
  }

  &--word-cloud {
    background-image: url('../images/wordCloud-bg.png');
  }
}

.justify-self-end {
  justify-self: end;
}

@media (max-width: 1024px) {
  .rotate--mob-none {
    transform: none;
  }
}

@media (min-width: 768px) {
  .rotate {
    @apply origin-top-left;
  }
}

@media (min-width: 1024px) {
  .rotate.rotate--center {
    margin-left: rem-calc(40);
    width: auto;
  }

  .has-bg--half {
    background-size: 50% 100%;
    background-position: right;
  }
}
