.hero-title {
  --border-top-width: 10px;
  --border-bottom-width: 2px;
  --border-color: #000;
  --border-span: 4ch;

  max-width: var(--title-width, 12ch);

  &::before,
  &::after {
    content: '';
    display: block;
    border-style: solid;
    border-color: var(--border-color);
    width: 100%;
    max-width: 450px;
  }

  &::before {
    @apply pb-5;

    border-top-width: var(--border-top-width);
    width: var(--border-span);
  }

  &::after {
    @apply pt-8;

    border-bottom-width: var(--border-bottom-width);

    @media (min-width: 640px) {
      @apply pt-24;
    }
  }
}

.hero-title--page {
  --border-top-width: 2px;
  --border-bottom-width: 26px;
  --border-color: #fff;

  &::before {
    width: 8ch;
  }

  &::after {
    width: var(--border-span);
  }
}

.hero-title--post {
  --border-top-width: 0;
  --border-bottom-width: 0;
  --border-color: #000;
}

.hero-title--no-bottom-border::after {
  display: none;
}

.hero-title--wide {
  --title-width: 16ch;
}

@media (min-width: 1024px) {
  .hero--full {
    @apply min-h-screen;
  }
}
