.hero-title {
  --border-width: 2px;

  &::before,
  &::after {
    content: '';
    display: block;
    border-style: solid;
    border-color: #303030;
    width: 100%;
    max-width: 450px;
  }

  &::before {
    @apply pb-5;

    border-top-width: var(--border-width);
  }

  &::after {
    @apply pt-8;

    border-bottom-width: var(--border-width);

    @media (min-width: 640px) {
      @apply pt-24;
    }
  }
}
