.pagination {
  --flow-space: #{rem-calc(100)};

  margin-bottom: rem-calc(100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .disabled {
    display: none;
  }
}

.pagination li {
  @apply bg-black;
  @apply text-white;

  list-style: none;
  margin-right: rem-calc(16);

  > a {
    display: block;
    padding: rem-calc(8) rem-calc(16);
  }
}
