// Handle plugins and classes from external additions

// ConvertKit
.formkit-form {
  @apply py-8;
}

.formkit-submit {
  background: #000 !important;

  border-radius: 0 !important;
  transition: background-color 0.5s ease;

  &:hover,
  &focus {
    @apply bg-gray-900;
  }
}
