// Handle plugins and classes from external additions

// ConvertKit
.formkit-form {
  @apply py-8;

  > div {
    padding: 0 !important;
  }
}

.formkit-input,
.formkit-submit {
  border-radius: 0 !important;
}

.formkit-submit {
  background: #000 !important;

  transition: background-color 0.5s ease;

  &:hover,
  &focus {
    background: #1a202c !important;
  }
}
