.banner {
  @apply bg-cover;
  @apply bg-center;
  @apply bg-no-repeat;
  @apply bg-scroll;

  height: 60vh;

  // Let's make it full bleed
  // Doing this here as we want to apply the fixed bg effect. Which can't be done with the full bleed util
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.banner,
.banner + * {
  --flow-space: #{rem-calc(90)};
}

// Webinar banner
body.has-banner {
  @apply bg-black;
  margin-top: rem-calc(250);

  @media screen and (min-width: 411px) {
    margin-top: rem-calc(200);
  }

  @media screen and (min-width: 546px) {
    margin-top: rem-calc(170);
  }
}

.banner__webinar {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
}

@media (min-width: 640px) {
  .banner {
    @apply bg-fixed;
  }
}
