.callout {
  padding: rem-calc(35);
  font-size: rem-calc(24);
  font-weight: 400;
  line-height: 40px;

  strong {
    font-size: 3.75rem;
  }
}

@media (max-width: 320px) {
  .callout {
    strong {
      font-size: rem-calc(51) !important;
    }
  }
}
