ul.cards {
  padding-left: 0 !important;
}

.card {
  @apply p-8;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: rem-calc(350);
}

.card--webinar {
  min-height: unset;
}

.card:hover,
.card:focus {
  .card__arrow {
    opacity: 1;
  }
}

.card * {
  // Our exception will handle changing the text to black if the card bg is white
  @apply text-white;
}

.card__arrow {
  align-self: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card__title {
  font-size: rem-calc(38);
}

@media (min-width: 768px) {
  .card__title {
    font-size: rem-calc(45);
  }
}
