.primary-nav {
  display: flex;
  flex-direction: column;
}

.menu,
.submenu {
  position: relative;
}

.social__menu {
  --flow-space: #{rem-calc(40)};
}

.menu__item {
  @apply text-white;

  padding: rem-calc(10) 0;
  font-size: rem-calc(26);
  font-weight: 500;

  a {
    padding: rem-calc(8) rem-calc(10);
  }
}

.menu__item:hover > .submenu,
.menu__item:focus-within > .submenu {
  opacity: 1;
  pointer-events: all;
  height: auto;
}

.menu-button--close {
  @apply text-white;
  @apply pr-6;

  align-self: flex-end;
}

.submenu {
  @apply bg-white;
  @apply text-black;

  display: flex;
  flex-direction: column;
  max-width: 25ch;
  margin-top: rem-calc(6);
  z-index: 1;

  /* Hide by default */
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.submenu__item {
  a {
    display: block;
    padding: rem-calc(8) rem-calc(10);
  }
}

.case-study-nav {
  --flow-space: #{rem-calc(40)};
  margin-bottom: rem-calc(40);

  h2 {
    margin: 0 rem-calc(15);
  }

  &__arrow {
    margin-top: rem-calc(4); //Slight padding to optically center
    display: block !important;
  }
}

@media (min-width: 768px) {
  .case-study-nav {
    --flow-space: #{rem-calc(100)};
    margin-bottom: rem-calc(80);
  }
}

@media (max-width: 1024px) {
  .menu__container {
    @apply bg-black;
    @apply h-screen;

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &[data-active='true'] {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

@media (min-width: 1024px) {
  .menu__container {
    display: flex;
  }

  .primary-nav {
    flex-direction: row;

    @include border-before(2px, 18ch, -28px, 0, #000);

    + * {
      margin-left: rem-calc(20);
    }
  }

  .menu {
    display: flex;
    flex-flow: row wrap;
  }

  .menu--column {
    flex-flow: column nowrap;
  }

  .menu__item {
    @apply text-black;

    padding: 0 rem-calc(10) 0 0;
    font-size: rem-calc(17);
  }

  .menu__item--large {
    padding-right: 0;
    font-size: rem-calc(24);
    font-weight: 800;

    @include border-before(24px, 12ch, 0, auto, #000);

    &::before {
      // Edge case - as we don't have a right position in the mixin we'll declare it here
      right: 0;
      margin-top: 0;
    }
  }

  .menu__item a:hover,
  .menu__item a:focus,
  .menu__item--active {
    @apply bg-black;
    @apply text-white;
  }

  .menu-button {
    display: none;
  }

  .submenu {
    @apply text-left;

    /* Absolutely position so it hangs underneath the navbar */
    position: absolute;
  }
}

@media (min-width: 1280px) {
  .menu__item--large {
    font-size: rem-calc(28);
  }
}
