.primary-nav {
  display: flex;
  flex-direction: column;
}

.menu__item {
  @apply text-white;

  padding: rem-calc(10) 0;
  font-size: rem-calc(26);
  font-weight: 500;

  a {
    padding: rem-calc(8) rem-calc(10);
  }
}

.menu-button--close {
  @apply text-white;
  @apply pr-6;

  align-self: flex-end;
}

@media (max-width: 768px) {
  .menu__container {
    @apply bg-black;
    @apply h-screen;

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &[data-active='true'] {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

@media (min-width: 768px) {
  .menu__container {
    display: flex;
  }

  .primary-nav {
    flex-direction: row;

    @include border-before(2px, 18ch, -28px, 0, #000);

    + * {
      margin-left: rem-calc(20);
    }
  }

  .menu {
    display: flex;
    flex-flow: row wrap;
  }

  .menu__item {
    @apply text-black;

    padding: 0 rem-calc(10) 0 0;
    font-size: rem-calc(17);
  }

  .menu__item--large {
    padding-right: 0;
    font-size: rem-calc(28);
    font-weight: 800;

    @include border-before(24px, 12ch, 0, auto, #000);

    // Edge case - as we don't have a right position in the mixin we'll declare it here
    &::before {
      right: 0;
    }
  }

  .menu__item a:hover,
  .menu__item a:focus,
  .menu__item--active {
    @apply bg-black;
    @apply text-white;
  }
}

@media (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}
